*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: context-menu;
  background-color: #f2f2f2;
  overflow: hidden;
}

li {
  list-style: none;
}

header {
  margin: 0 auto;
  margin-top: 2rem;
  position: relative;
  width: 100%;
  max-width: 87rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.2;
  color: #282828;
}

.links {
  list-style: none;
  margin-left: -3rem;
}

.links li {
  display: inline-block;
  margin-top: 0.4rem;
  padding: 0px 40px;
  transition: all 300ms;
}

.links li a {
  text-decoration: none;

  font-family: Inter, sans-serif;
  color: #282828;
  font-size: 1.4rem;
  transition: all 300ms;
}

.links li:hover,
.links li a:hover {
  color: #4285f4;
  transform: scale(1.05);
}

.bell-icon {
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 0.4rem;
  padding: 9px 25px;
}

.showcase-area {
  background-color: re;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 87rem;
  display: flex;
  flex-direction: row;
}

.showcase-area .column1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-left: 0rem;
}

.showcase-area .column1 .profile {
  position: relative;
  width: 270px;
  height: 290px;

  background: #f2f2f2;
  box-shadow: 0px -4px 82px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.showcase-area .column1 .profile .profile-logo {
  position: relative;
  width: 80px;
  height: 80px;
  left: 100px;
  top: 40px;

  border-radius: 80px;
  background: #193926;
}

.showcase-area .column1 .profile .profile-logo .profile-logo-text {
  position: relative;
  text-align: center;

  font-family: Inter, sans-serif;
  font-size: 40px;
  top: 16px;
  left: 2px;
  color: #f2f2f2;
}

.showcase-area .column1 .profile .profile-text1 {
  position: relative;
  top: 55px;
  font-size: 26px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
}

.showcase-area .column1 .profile .profile-text2 {
  position: relative;
  top: 55px;

  font-size: 13px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;

  color: #8a8a8a;
}

.showcase-area .column1 .profile .profile-edit-btn {
  position: relative;
  top: 100px;

  width: 235px;
  height: 45px;

  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;

  background-color: #4285f4;
  color: #f2f2f2;

  border: none;
  text-align: center;

  border-radius: 4px;
  transition: all 300ms;
}

.showcase-area .column1 .profile .profile-edit-btn:hover {
  opacity: 0.9;
}

.showcase-area .column1 .profile .profile-edit-btn:active {
  opacity: 0.7;
}

.showcase-area .column1 .topics {
  position: relative;
  width: 270px;
  height: 300px;
  margin-top: 1.5rem;
  background: #f2f2f2;
  box-shadow: 0px -4px 82px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.showcase-area .column1 .topic-heading {
  position: relative;
  display: flex;

  font-family: Inter;
  font-style: normal;
  font-weight: 700;

  margin-left: 1rem;
  top: 1rem;
}

.showcase-area .column1 .add-icon {
  position: relative;

  top: 0px;
  left: 13px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #d9d9d9;
}

.showcase-area .topics .topic-list {
  position: relative;
  margin-top: 3rem;
}

.showcase-area .topics li {
  position: relative;
  margin-left: 2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  text-align: justify;
}

.showcase-area .column2 {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 2.5rem;
  margin-left: 5rem;
}

.showcase-area .column2 .heading1 {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
}

.showcase-area .column2 .heading2 {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  color: #8a8a8a;
  margin-top: 4px;
  margin-bottom: 20px;
}

.showcase-area .column2 .input-news-search-bar {
  position: relative;
  width: 610px;
  height: 40px;

  background: #f2f2f2;
  box-sizing: border-box;
  box-shadow: 0px -4px 82px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;

  padding-left: 20px;
  transition: all 300ms;
}

.showcase-area .column2 .input-news-search-bar,
select,
textarea {
  font-family: Inter;
  font-size: 1rem;
}

.showcase-area .column2 .input-news-search-bar:focus {
  outline: none;
  border-color: #4285f4;
}

.showcase-area .column2 .news-search-btn {
  position: relative;
  width: 90px;
  height: 40px;
  margin-left: 1rem;

  font-size: 1rem;
  font-family: Inter;
  font-style: normal;
  color: #f2f2f2;

  background-color: #4285f4;
  border: none;
  border-radius: 2px;

  transition: all 300ms;
}

.showcase-area .column2 .news-search-btn:hover {
  background-color: #64bcf4;
}
.showcase-area .column2 .news-search-btn:active {
  opacity: 0.75;
}

.showcase-area .column2 .heading3 {
  position: relative;
  margin: 1rem 0rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.showcase-area .column2 .news-box {
  position: relative;
  width: 750px;
  height: 410px;
  overflow: hidden;
  overflow-y: scroll;
}

.showcase-area .column2 .news-box li {
  position: relative;
  width: 720px;
  height: 250px;

  background-color: #fff;
}

.showcase-area .column2 .news-box li:not(:first-of-type) {
  margin-top: 1rem;
}
.showcase-area .column2 .news-box li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.showcase-area .column2 .news-box li .news-info {
  display: flex;
  flex-direction: row;
}

.showcase-area .column2 .news-box li .news-info .intel,
.showcase-area .column2 .news-box li .news-info .stadia {
  position: relative;
  width: 190px;
  height: 230px;
  margin-top: 15px;
}

.showcase-area .column2 .news-box li .news-info .intel-text,
.showcase-area .column2 .news-box li .news-info .stadia-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.showcase-area .column2 .news-box li .news-info .intel-heading,
.showcase-area .column2 .news-box li .news-info .stadia-heading {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
  text-align: justify;
  padding-right: 20px;
}

.showcase-area .column2 .news-box li .news-info .intel-news,
.showcase-area .column2 .news-box li .news-info .stadia-news {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #8a8a8a;
  text-align: justify;
  padding-right: 20px;
}
