<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
    <link rel="stylesheet" href="stylesheets/landing.css" />
    <link rel="stylesheet" href="stylesheets/auth.css" />
    <title>Not Authorized</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">bit<font style="color: #4285f4">bot.</font></div>
      </div>
    </header>
    <div class="error-container">
      <p class="h-1">404</p>
      <p class="h-2">PAGE NOT FOUND</p>
      <p class="h-3">
        The page you requested could not be found.
        <a href="/login">Try logging in back</a>
      </p>
    </div>
  </body>
</html>
