<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/c8ead70426.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <link rel="stylesheet" href="/stylesheets/signup.css" />
  <link rel="stylesheet" href="/stylesheets/newForum.css" />
  <title>Home</title>
</head>

<body>
  <div class="final-wrapper">
    <div class="container">
      <div class="sidebar-column">
        <div class="logo">bit<font style="color: #4285f4">bot.</font>
        </div>
        <ul class="links">
          <li>
            <a href="/forums"><i class="bx bx-home icon"></i><span class="text">Home</span></a>
          </li>
          <li>
            <a href="#"><i class="bx bx-news icon"></i><span class="text">News</span></a>
          </li>
          <li>
            <a href="#"><i class="bx bx-store icon"></i><span class="text">Products</span></a>
          </li>
        </ul>
      </div>
      <div class="main-column">
        <div class="forums-showcase">
          <form action="/" method="POST">
            <div class="input-field">
              <label for="title">Enter post:</label>
              <input name="title" id="title" type="text">
            </div>

            <div class="input-field">
              <label for="description">Enter description:</label>
              <input name="description" id="description" type="text">
            </div>

            <button>Post</button>
          </form>
        </div>
      </div>
      <div class="news-profile-column">
        <div class="profile">
          <div class="profile-logo">
            <p class="profile-logo-text">P</p>
          </div>
          <p class="profile-text1">Prabhat Mattoo</p>
          <p class="profile-text2">4 Threads • 11k Followers</p>
          <button class="profile-edit-btn">Edit your Profile</button>
        </div>
        <div class="news">
          <div class="header">
            <p>News</p> <a href="#">View All</a>
          </div>
          <div class="news-from-api" id="newsAccordion"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <!-- <script src="javascripts/home.js"></script> -->
</body>

</html>