*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-weight: normal;
  cursor: context-menu;
  background-color: #f2f2f2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.final-wrapper {
  position: relative;

  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.main-column {
  position: relative;
  width: 82%;
  margin: 0 auto;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.main-column .heading1 {
  font-size: 30px;
  margin: 2rem 0 0 1rem;
}

.main-column .heading2 {
  color: #4285f4;
  font-size: 1.2rem;
  margin: 0.5rem 0 0 1rem;
}

.main-column .product-grid {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  gap: .5rem .5rem;
  justify-items: center;
}

.card {
  height: 21em;
  width: 16em;
  max-width: 100%;
  margin: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
}

.main-column .column .card {
  align-content: center;
}

.product-name {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

.product-item {
  height: 12em;
  width: 10.5em;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.view-product-btn {
  width: 12.5rem;
  max-width: 100%;
  height: 2.5rem;
  font-style: normal;
  font-size: 0.9rem;

  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms;

  font-size: 1.125rem;
}

.view-product-btn:hover {
  background-color: #fff;
  color: #4285f4;
  border: 1px solid #4285f4;
}


@media screen and (max-width: 1024px) {
  
}

