*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  cursor: context-menu;
  font-family: Inter, sans-serif;
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.final-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 96rem;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: row;
}
.main-column {
  position: relative;
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.main-column .news-container-heading {
  margin: 2.1rem 0rem 1rem 2rem;
  align-self: flex-start;
  font-size: 2.625rem;
  font-weight: bold;
}
.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 76vw;
  height: 350px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto 1rem auto;
}
.news-content {
  width: 44.375rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}
.headline-footer {
  display: flex;
  justify-content: space-between;
}
.main-content {
  margin-top: 1rem;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.375rem;
  color: black;
}
.read-more {
  color: #4285f4;
}
.date-time {
  font-size: 0.875rem;
  color: #8a8a8a;
}
.author {
  font-size: 0.875rem;
  color: #8a8a8a;
}
.news-image {
  margin-left: 0.4rem;
  width: 25rem;
  flex: 1 0 auto;
  height: 15.625rem;
}
.news-heading {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: justify;
}
@media screen and (max-width:906px) {
  .main-column {
    width: 100%;
  }
  .slide {
    width: 90vw;
  }
  .news-container-heading {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 765px) {
  .slide {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    height: auto;
    width: 95vw;
  }
  .news-content {
    margin-top: .5rem;
    width:fit-content;
  }
  .main-column .news-container-heading {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 470px) {
  .slide {
    align-items: center;
  }
  .news-image {
    margin: 0;
    width: 90%;
    height: auto;
  }
  .main-column .news-container-heading {
    font-size: 2.2rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .main-column .news-container-heading {
    font-size: 2rem;
  }
}
