*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  cursor: context-menu;
  background-color: #f2f2f2;
  font-family: Inter, sans-serif;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.final-wrapper {
  position: relative;

  margin: 0 auto;
  width: 100%;
  min-height: 100vh;

  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar-column,
.main-column {
  float: left;
}

.sidebar-column {
  position: relative;
  min-width: 18%;
  height: 100%;
  background-color: #28282b;

  display: flex;
  flex-direction: column;
}

.logo {
  margin: 4rem 0 1rem 1rem;
  font-family: Poppins, sans-serif !important;
  font-weight: bolder;
  font-size: 2.6rem;
  line-height: 1.2;
  color: #fff;
}

.sidebar-column .icon {
  font-size: 26px;
  min-width: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-column .text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 24px;
  opacity: 1;
}

.sidebar-column .links li {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1.4rem;
  height: 40px;
}

.sidebar-column .links li:last-child {
  margin-top: 22rem;
}

.sidebar-column li a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 92%;

  padding-left: 1rem;
  background-color: transparent;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.2s;
}

.sidebar-column li a:hover {
  background-color: #fff;
  color: #28282b;
}

.main-column {
  position: relative;
  min-width: 82%;

  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.main-column .news-container-heading {
  margin: 2.1rem 55rem 1rem 0rem;
  font-size: 42px;
  font-weight: bold;
}

#slide {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
  height: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1rem;
}

#news-content {
  width: 710px;
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

#headline-footer {
  display: flex;
  justify-content: space-between;
}

#main-content {
  margin-top: 1rem;
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
  color: black;
}

#read-more {
  color: #4285f4;
}

#date-time {
  font-size: 14px;
  color: #8a8a8a;
}

#author {
  font-size: 14px;
  color: #8a8a8a;
}

#news-image {
  margin-left: 0.4rem;
  width: 400px;
  height: 250px;
}

#news-heading {
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}
