.autocomplete {
  position: relative;
  display: inline-block;
}
input:focus {
  outline: none !important;
}
.autocomplete-items {
  border: 1px solid #d4d4d4;
  font-family: Inter, sans-serif;
  color: black;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items:last-of-type {
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div {
  padding: 10 10 10 30px;
  cursor: pointer;
  background-color: #fff;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
  transition: all 0.3s;
}
.autocomplete-active {
  background-color: rgb(190, 190, 190) !important;
}