.sidebar-column {
    position: relative;
    width: 18%;
    background-color: #28282b;
  
    display: flex;
    flex-direction: column;
  }
  
  .logo {
    margin: 2rem 0 1rem 1rem;
    font-family: Poppins, sans-serif;
    font-weight: bolder;
    font-size: 2.6rem;
    line-height: 1.2;
    color: #fff;
  }
  
  .sidebar-column .icon,
  .hamMenu .hamLinks .icon {
    font-size: 1.625rem;
    width: 3.125rem;
    max-width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar-column .text,
  .hamMenu .hamLinks .text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    width: 100%;
    max-width: 100%;
    opacity: 1;
  }
  
  .sidebar-column .links li,
  .hamMenu .hamLinks li {
    display: flex;
    align-items: center;
    justify-content: center;
  
    max-width: 100%;
    margin-top: 1.4rem;
    height: 2.5rem;
  }
  
  .sidebar-column li a,
  .hamMenu .hamLinks li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 92%;
    max-width: 100%;
  
    padding-left: 1rem;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s;
  }
  
  .sidebar-column li a:hover,
  .hamMenu .hamLinks li a:hover {
    background-color: #fff;
    color: #28282b;
  }